.avatar img {
  width: 50px;
  border-radius: 30px;
}
.selected {
  font-weight: bold;
}

.offLoader {
  display: none;
}
.mainContent {
  height: 100vh;
}
.userItem {
  border: 1px groove black;
  max-width: 300px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button button {
  background-color: #deafaf;
  border-style: groove;
  border-color: #cfbaba;
  width: 80px;
}
.button button:hover {
  cursor: pointer;
  background: #e4cdcd;
}
