.header {
  grid-area: h;
  background: rgb(3, 3, 3);
  border: 2px solid #fff;
  font-weight: 700;
  color:crimson;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 48px;
  margin: 10px 0px 10px 20px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loginBlock a {
  color: crimson;
}
.loginBlock {
  margin-right: 20px;
}