.header {
  border-bottom: 4px solid #fff;
}
.container {
  width: 80%;
  margin: 0 auto;
  font-weight: 700;
  color:#6c6b68;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 48px;
  margin: 10px 0px 10px 20px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loginBlock a {
  color: crimson;
}
.loginBlock {
  margin-right: 20px;
}
.login img {
  width: 20px;
  cursor: pointer;
}
.login {
  display: flex;
  align-items: center;
}
.menuBurger {
  display: none;
}

.item a {
  text-decoration: none;
  color: rgb(243, 250, 243);
}
.item a:hover {
  border: 1px solid #333;
  padding: 4px 29px;
}
.activeLink {
  color: #6c6b68;
  transition: none 1s ease;
}

.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
@media (max-width: 600px) {
  .menuBurger{
    display: block;
  }
  .navmenu {
    display: inline-flex;
    position: fixed;
    left: -100%;
    top:0;
    flex-direction: column;
    background-color: #deafaf;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
  }

  .navmenu.active {
    left: 0;
    padding: 50px 0px;
  }
 
  .item {
    margin: 1.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    float: right;
  }
  .logo {
    margin-right: auto;
  }
}