.navbar {
  grid-area: n;
  padding: 20px;
}
.item {
  margin-bottom: 10px;
}
.item a {
  text-decoration: none;
  color: rgb(243, 250, 243);
}
.item a.activeLink {
  color: #6c6b68;
}
.item img {
  width: 18px;
  margin-right: 5px;
}