.description {
  padding: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}
.description img {
  border-radius: 10%;
  max-width: 220px;
  width: 100%;
}
.info {
  margin-top: auto;
  font-size: 20px;
  margin-left: 10px;
}
.social img {
  width: 30px;
}
.name {
  color: #160000;
  font-size: 18px;
  font-weight: 400;
}
.status {
  font-size: 16px;
  font-weight: 200;
}
.ava {
  display: flex;
  flex-direction: column;
}
.image > input {
  display: none;
}
.image > label {
  position: relative;
}

.image img {
  width: 30px;
  cursor: pointer;
  position: absolute;
  left: 190px;
  bottom: 0;
  background-color: #fff;
  border-radius: 5px;
}
p,
.contacts {
  font-size: 14px;
  font-weight: 400;
}
.contacts {
  margin-left: 20px;
}
.form input {
  outline: none;
  border-radius: 8px;
  border: none;
  background-color: #ebedf0;
  margin-top: 5px;
  width: 250px;
}
.name span {
  font-weight: 400;
  font-style: normal;
}
