.description {
  padding: 10px;
  color: white;
  font-weight: bold;
  display: flex;
}
.description img {
  border-radius: 10%;
  max-width: 220px;
}
.info {
  margin-top: auto;
  font-size: 20px;
  margin-left: 10px;
}
.social img {
  width: 30px;
}
.name {
  color: #160000;
}
.status {
  font-size: 16px;
  font-weight: 200;
}
