.error {
  font-size: 12px;
  color: red;
  margin: 5px;
}
.remember {
  font-size: 12px;
  display: flex;
}
.captcha {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  margin-bottom: 10px;
}
