.app-wrapper {

}
.container {
  display: grid;
  grid-template-columns: 1.5fr 10fr;
  grid-template-areas:
    "n c"; 
    width: 80%;
    margin: 0 auto;
}
.app-wrapper-content {
  grid-area: c;
  height: 100vh;
  padding: 35px;
  border-top: 4px solid #deafaf;
  background: #fff;
}

