.app-wrapper {

}
.container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "n c"; 
    width: 80%;
    margin: 0 auto;
}
.app-wrapper-content {
  grid-area: c;
  height: 100vh;
  padding: 15px;
  border-top: 4px solid #deafaf;
  background: #fff;
}
@media (max-width: 800px) {
  .container {
    grid-template-columns: 35% 65%;
  }
}

